{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Связаться с нами!</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Ищем лучшие предложения...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="106px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer">
              <div class="rd-navbar-aside">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png'%}" alt="" width="90px" height="18px"/></a>
                  </div>
                </div>
                <div class="rd-navbar-aside-right rd-navbar-collapse">
                  <ul class="rd-navbar-corporate-contacts">
                    <li>
                      <div class="unit unit-spacing-xs">
                        <div class="unit-left"><span class="icon fa fa-clock-o"></span></div>
                        <div class="unit-body">
                          <p>09:00 — 21:00</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-xs">
                        <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                        <div class="unit-body"><a class="link-phone" href="tel:89105388744">+7 (910) 538-87-44</a></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-xs">
                        <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                        <div class="unit-body"><a class="link-phone" href="tel:89157233958">+7 (915) 723-39-58</a></div>
                      </div>
                    </li>
                  </ul><a class="button button-md button-default-outline-2 button-ujarak" href="#contact-form">Связаться с нами</a>
                </div>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap">
                  <ul class="list-inline list-inline-md rd-navbar-corporate-list-social">
                    <li><a class="icon fa fa-vk" href="#"></a></li>
                    <li><a class="icon fa fa-whatsapp" href="#"></a></li>
                  </ul>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'about' %}">О нас</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'places' %}">Размещение</a>
                    </li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'contacts' %}">Контакты</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Ya Map-->
      <section class="section section-sm section-first bg-default">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col" style="height: 50vh;">
              <div class="map" id="map"></div>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact information-->
      <section class="section section-sm section-first bg-default">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-cellphone55"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="tel:#">+7 (915) 723-39-58</a></p>
                  <p class="box-contacts-link"><a href="tel:#">+7 (910) 538-87-44</a></p>
                </div>
              </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
              <a href="https://yandex.ru/maps/-/CBqEm2sU-A" target="_blank" class="contact-map">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-up104"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link">Тверская область, Осташков, д. Нижние Котицы, ул.Береговая 7, Гостевой дом "У ОЗЕРА"</p>
                </div>
              </article>
              </a>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
              <a href="mailto:#" class="contact-map">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-chat55"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link">buozera@mail.ru</p>
                </div>
              </article>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact Form-->
      <section class="section section-sm section-last bg-default text-left" id="contact-form">
        <div class="container">
          <article class="title-classic">
            <div class="title-classic-title">
              <h3>Связаться с нами</h3>
            </div>
            <div class="title-classic-text">
              <p>Если вы хотите забронировать дом, или у вас есть какие-то вопросы, заполните форму и мы с вами свяжемся</p>
            </div>
          </article>
          <form action="" method="post" id="form">
            {% csrf_token %}
            <div class="form-group">
              <input id="name" aria-label="name" type="text" name="name" placeholder="Ваше имя" class="form-control">
              <div class="error text-start fs-6 fw-light"></div>
            </div>
            <div class="form-group">
              <input id="email" aria-label="email" type="text" name="email" placeholder="Ваш E-mail" class="form-control">
              <div class="error text-start fs-6 fw-light"></div>
            </div>
            <div class="form-group">
              <input id="telephone" aria-label="telephone" type="text" name="telephone" placeholder="Телефон" class="form-control">
              <div class="error text-start fs-6 fw-light"></div>
            </div>
            <div class="form-group">
              <input type="submit" value="Оставить заявку" class="btn btn-primary py-3 px-5">
            </div>
          </form>
        </div>
      </section>

      <footer class="section footer-corporate context-dark">
        <div class="footer-corporate-inset">
          <div class="container">
            <div class="row row-40 justify-content-center">
              <div class="col-sm-12 col-md-6">
                <div class="oh-desktop">
                  <div class="wow slideInRight" data-wow-delay="0s">
                    <h6 class="text-spacing-100 text-uppercase">Контакты</h6>
                    <ul class="footer-contacts d-inline-block d-sm-block">
                      <li>
                        <div class="unit">
                          <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                          <div class="unit-body"><a class="link-phone" href="tel:89105388744">+7 (910) 538-87-44</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit">
                          <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                          <div class="unit-body"><a class="link-phone" href="tel:89157233958">+7 (915) 723-39-58</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit">
                          <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                          <div class="unit-body"><a class="link-location" href="#">д.Нижние Котицы, Осташковского района, Тверской области. Расстояние от МКАД - 340 км, или 4,5 часа на автомобиле.</a></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="oh-desktop">
                  <div class="wow slideInLeft" data-wow-delay="0s">
                    <h6 class="text-spacing-100 text-uppercase">Навигация</h6>
                    <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                      <li><a href="{% url 'index'%}">Главная</a></li>
                      <li><a href="{% url 'about'%}">О нас</a></li>
                      <li><a href="{% url 'contacts'%}">Контакты</a></li>
                      <li><a href="{% url 'places'%}">Размещение</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-corporate-bottom-panel">
          <div class="container">
            <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
              <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
                <div>
                  <ul class="list-inline list-inline-sm footer-social-list-2">
                    <li><a class="icon fa fa-vk" href="https://vk.com/gduozera" target="_blank"></a></li>
                    <li><a class="icon fa fa-whatsapp" href="https://api.whatsapp.com/send/?phone=79105388744&text&type=phone_number&app_absent=0"></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 order-sm-first">
                <!-- Rights-->
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Домик у Озера</span>. Все права защищены. Design by <a href="https://nes-agency.ru/" target="_blank">nes-agency</a></p>
              </div>
              <div class="col-sm-6 col-md-4 text-md-right">
                <p class="rights"><a href="#">Политика конфиденциальности</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
   <!-- Global Mailform Output-->
   <div class="snackbars" id="form-output-global"></div>
   <!-- Javascript-->
   <script src="https://api-maps.yandex.ru/2.1?apikey=ваш API-ключ&load=package.full&lang=ru_RU">
  </script>
  <script type="text/javascript">
    ymaps.ready(function () {
      var myMap = new ymaps.Map("map", {
        center: [57.030820,33.280769],
        zoom: 17
      });
      myMap.geoObjects.add(new ymaps.Placemark([57.030820,33.280769], {
          balloonContent: ' <strong>Гостевой дом "У озера"</strong>'
      }, {
          preset: 'islands#icon',
          iconColor: '#0095b6'
      }))
      });
  </script>
   <script src="{% static 'js/core.min.js' %}"></script>
   <script src="{% static 'js/script.js' %}"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script>
   const form = document.getElementById('form');
   const name = document.getElementById('name');
   const email = document.getElementById('email');
   const telephone = document.getElementById('telephone');
   
   const setError = (element, message) => {
       const inputControl = element.parentElement;
       const errorDisplay = inputControl.querySelector('.error');

       errorDisplay.innerText = message;
       inputControl.classList.add('error');
       inputControl.classList.remove('success')
   };

   const setSuccess = element => {
       const inputControl = element.parentElement;
       const errorDisplay = inputControl.querySelector('.error');

       errorDisplay.innerText = '';
       inputControl.classList.add('success');
       inputControl.classList.remove('error');
   };

   const isValidEmail = email => {
       const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
       return re.test(String(email).toLowerCase());
   }

   const isValidTelephone = telephone => {
       const re = /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$/;
       return re.test(String(telephone).toLowerCase());
   }

   const validateInputs = () => {
       const nameValue = name.value.trim();
       const emailValue = email.value.trim();
       const telephoneValue = telephone.value.trim();
       
       let flag = true;

       if (nameValue == '' || nameValue == null) {
           setError(name, 'Имя не может быть пустым');
           flag = flag && false;
       } else {
           setSuccess(name)
           flag = flag && true;
       }

       if (emailValue == '' || emailValue == null) {
           setError(email, 'Email не может быть пустым');
           flag = flag && false;
       } else if (!isValidEmail(emailValue)) {
           setError(email, 'Некорректный email адрес');
           flag = flag && false;
       } else {
           setSuccess(email);
           flag = flag && true;
       }

       if (telephoneValue == '' || telephoneValue == null) {
           setError(telephone, 'Номер телефона не может быть пустым');
           flag = flag && false;
       } else if (!isValidTelephone(telephoneValue)) {
           setError(telephone,' Некорректный номер телефона');
           flag = flag && false;
       } else {
           setSuccess(telephone);
           flag = flag && true;
       }
       return flag;

       


   };

   form.addEventListener('submit', e => {
       if (!validateInputs()){
           e.preventDefault();
       }
   });
</script>
  </body>
</html>